html {
  font-family: 'Roboto', sans-serif;
}

header {
  margin: 10px 0px;
  border-bottom: 1px rgb(235, 235, 235) solid;
}

header #top-nav {
  width: 100%;
  position: relative;
  padding: 5px 5px 5px 5px;
}

header #top-nav .header-element{
  display: inline-block;
  vertical-align: middle;
}

header #top-nav #logo{
  padding: 15px;
}

#search_form {
  width:640px;
  padding-left: 20px;
}

#top-nav .bar {
  width: 100%;
  border: 0.5px gainsboro solid;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#search_bar{
  padding: 0px;
  border: none;
  width: 100%;
  font-size: 16px;
  margin-left: 20px;
}

header #top-nav #search_icon{
  padding: 10px;
}

header #top-nav .right {
  float: right;
  position: relative;
  margin-right: 25px;
  padding: 10px 0;
}

header #top-nav .right img{
  padding: 0px 10px;
}

header #top-nav .right button{
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 9px 23px;
}

header #bottom-nav{
  margin-left: 157px;
  width: 640px;
}

header #bottom-nav a{
  font-size: 12px;
  display: inline-block;
  padding: 16px 12px 12px 10px;
}

header #bottom-nav a *{
  display: inline-block;
  vertical-align: middle;
}

header #bottom-nav .right{
  float: right;
}

.nav_link{
  color: rgb(95, 99, 104);
  text-decoration: none;
}

.nav_link:hover {
  color: rgb(26, 115, 232);
}

.nav_link_active{
  color: rgb(26, 115, 232);
  border-bottom: 3px rgb(26, 115, 232) solid;
}

/* Main Element */
main {
  width: 640px;
  margin-left: 125px;
}










footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  color: #a67979;
  font-size: 14px;
}

footer .row {
  border: 1px #e4e4e4 solid;
}

footer .first {
  line-height: 40px;
  padding-left: 35px;
}

footer .left {
  float: left;
  line-height: 40px;
  vertical-align: middle;
  padding-left: 35px;
}

footer .right {
  float: right;
  line-height: 40px;
  padding-right: 35px;
}

footer .row a {
  padding: 0px 15px 0px 0px;
  color: #a67979;
  font-size: 12px;
}